/* 540px */

header
{
  width: 540px;
  margin: auto;
}

#container1
{
 width: 540px;
 display: flex;
 flex-wrap: wrap;
 margin: 0%; 
}

.inscription
{
  display: none;
}

.inscription2
{
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  cursor: pointer ;
}

.inscription2:active
{
  color:black;
}

nav
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem; 
}


li :hover
{
  border-bottom: 0.2rem solid #0065FC;
  color:  #0065FC;
  padding-bottom: 1rem;
  border-top: none;
}

nav
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 1rem; 
}

li a 
{
 padding-left: 3rem;
 padding-right: 3rem;
 font-size: 1.2rem; 
}


main
{
display: flex;
flex-direction: column;
align-items: center;
width: 540px;
}

#container2
{
  width:540px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}


#nav2
{
  display: flex;
  flex-direction: column;
}

#nav2 a
{
  font-size: 14px;
}

.boutons
{
  margin-bottom: 2rem;
  order: 1;
}

.bouton
{
  align-self: flex-end;
  order: -1;
  margin-bottom: -6rem;
}

.filtres
{
  margin-bottom: 2rem;
}

/*main*/

.description
{
  margin-left: 1rem;
}

#container3 h1, #container5 h1
{
  width: 90%;
}

#container3
{
 order: 2;
 width: 540px;
 background-color: white;
 border-color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0%;
 margin: 0%;
}


.bouton-afficher h2
{
  width: 100%;
  margin-top: 4rem;
}

.bouton-afficher
{
  margin-left: 0%;
}

.hebergements
{
  width: 90%;
  height: 15rem;
  margin-bottom: 2.5rem;
}

.hebergements img
{
  width: 100%;
  height: 60%;
}

#container4
{
order: 1;
width:540px;
align-items: center;
padding: 0%;
margin-top: 2rem;
}

#container4 h1
{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}

.plus-populaires
{
  width: 90%;
}

#container5
{
  order: 3;
  width: 544px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

#container5 h2
{
text-align: left;
margin-left: 1rem;
}


.ActivitésB img, .ActivitésA img
{
  width: 100%;
  height: 10rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.part2
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:90%;
  height: 15 rem;
  margin-top: 2.5;
}

.part1
{
  width:90%;
  height: 15 rem;
}

.part1
{
  margin-bottom: 2.5rem;
}

.ActivitésB 
{
  width: 100%;
  height: 15rem;
  margin-bottom: 2.5rem;

}

.ActivitésA 
{
  width: 100%;
  height: 15rem;
}

#container6
{
  width: 540px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 2rem;
}

.lien
{
  margin-bottom: 2rem;
}
